<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <title>Title</title>
</head>
<body>
    <nav>
        <div>
            <a href="/"><h1>Home</h1></a>
            <p>Webstore</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/category">Category</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </nav>

    <div class="category-list">
        <h2>Categories</h2>
    </div>

</body>
</html>
